{% extends "base.html" %}
{%load static%}

{% block body_title %}<h1> CSS</h1>{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/iphonex.css' %}">
<link rel="stylesheet" href="{% static 'css/iphone.css' %}">



<body>
    <div class="container">
        <div class="overflow">

            <div class="iphonex">
                <div class="body"></div>
                <div class="screenx"></div>
                <div class="head"></div>
                <div class="micx"></div>
                <div class="camerax"></div>
                <div id="teleline-x-1"></div>
                <div id="teleline-x-2"></div>
                <div id="teleline-x-3"></div>
                <div id="teleline-x-4"></div>
                <div id="button-x-right"></div>
                <div id="button-x-left-1"></div>
                <div id="button-x-left-2"></div>
                <div id="button-x-left-3"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="overflow">
            <div class="iphone">
                <div class="microphone"></div>
                <div class="screen">
                    <iframe src="https://html318-jennifer0925.surge.sh/" frameborder="1" width="100%"
                        height="100%"></iframe>
                </div>
                <div class="camera"></div>
                <div class="detect"></div>
                <div class="home"></div>
                <div class="teleline" id="teleline-1"></div>
                <div class="teleline" id="teleline-2"></div>
                <div class="teleline" id="teleline-3"></div>
                <div class="teleline" id="teleline-4"></div>
                <div id="button-right"></div>
                <div id="button-left-1"></div>
                <div id="button-left-2"></div>
                <div id="button-left-3"></div>
                <div class="charge"></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-9 col-md-10 px-0 mb-2 gist">

                <a href="{%url 'portfolio'%}" class="btn btn-secondary btn-sm float-right">Back</a>
            </div>
        </div>
    </div>
</body>


{% endblock %}