<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}
{% block banner_content%}
此網站製作使用bootstrap4與django，以heroku佈署
{% endblock %}

<body>
    {% block body_title %}
    <h1>PERSONAL DATA</h1>
    {% endblock %}
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <h4 class="font-weight-bold">Skill</h4>
                <ul>
                    <li class='disabled nav-link text-reset'>Python</li>
                    <li class='disabled nav-link text-reset'>HTML</li>
                    <li class='disabled nav-link text-reset'>CSS</li>
                    <li class='disabled nav-link text-reset'>Photoshop</li>
                    <li class='disabled nav-link text-reset'>Illustrator</li>
                    <a href="{%url 'portfolio'%}" class="btn btn-outline-primary btn-sm">Portfolio</a>

                </ul>

            </div>
            <div class="col-md-6 col-12">
                <h4 class="font-weight-bold">Education</h4>
                <ul>
                    <li class='disabled nav-link text-body'>東吳大學經濟系Soochow University Department of Economics</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <h4 class="font-weight-bold">Work Experience</h4>
                <ul>

                    <li class="disabled nav-link text-reset">財團法人台灣經濟研究院Taiwan Institute of Economic Research</li>
                    <ul>
                        <li class='disabled nav-link text-reset font-weight-lighter'>APEC第31屆汽車對話會議 The 31<sup>th</sup>
                            APEC
                            Automotive
                            Dialogue
                        </li>
                        <li class='disabled nav-link text-reset font-weight-lighter'>APEC 業務研習營</li>
                    </ul>


                    <li class="disabled nav-link text-reset">康武企業股份有限公司Rekrow Industrial Inc.</li>
                    <ul>
                        <li class='disabled nav-link text-reset font-weight-lighter'>2017台灣五金展Taiwan Hardware Show</li>
                    </ul>

                </ul>
            </div>
        </div>
    </div>


    {% endblock %}

</body>


</html>