<!-- post2db.html (HTML_Form02) -->
{% extends "base.html" %}
{% block body_title %}
<h1>MESSAGE</h1>
{% endblock %}
{% block content %}
<div class='container'>
    {% if message %}
    <div>{{ message }}</div>
    {% endif %}
    <div class="row">
        <div class="col-md-6">
            <form name='my form' action='.' method='POST'>
                {% csrf_token %}
                <table>
                    {{ post_form.as_table }}
                </table>
                <script src='https://www.google.com/recaptcha/api.js'></script>
                <div class="g-recaptcha" data-sitekey="6LdzBtYUAAAAABQBQWZSTatJ1tgjUe0pDO-trTnu"></div>
                <input type='submit' value='張貼'>
                <input type='reset' value='清除重填'>
            </form>
        </div>
        <div class="col-md-6">
            <h2 style="text-align: center;">留言內容</h2>
            {% for post in posts %}

            <h4> {{post.name}} </h4>
            <h6> {{post.pub_date}}</h6>
            <div class="card">
                <div class="card-body">
                    <p> {{post.text}}</p>

                </div>
            </div>
            <p>-----------------------------</p>
            {% endfor %}
        </div>
    </div>
</div>
</div>
{% endblock %}