{% extends "gist.html" %}
{%load static%}

{% block gist%}
<script src="https://gist.github.com/juiyilin/ec2a0bac6ca60af6d2afc9ba9b967660.js?file=newsletter_banner1.py"></script>
<script src="https://gist.github.com/juiyilin/ec2a0bac6ca60af6d2afc9ba9b967660.js?file=newsletter_banner2.py"></script>
<script src="https://gist.github.com/juiyilin/ec2a0bac6ca60af6d2afc9ba9b967660.js?file=newsletter_banner3.py"></script>
<script src="https://gist.github.com/juiyilin/ec2a0bac6ca60af6d2afc9ba9b967660.js?file=newsletter_banner4.py"></script>
{% endblock %}