{% extends "base.html" %}
{% block title %}Website · Portfolio{% endblock %}
{% block body_title %}
<h1>PORTFOLIO</h1>
{% endblock %}
{%load static%}
{% block content %}

<div class="container">
    <div class="row ">
        <h3>python</h3>
    </div>
    <div class="row ">
        <!-- <div class="col-md-3 my-2">
            <div class="card">

                <div class="card-body ">
                    <h6 class="card-title">簡單網路爬蟲</h6>
                    <a href="{%url 'crawler'%}"> <img src="{%static 'iroda.png'%}" class="card-img"></a>
                    <a href="{%url 'crawler'%}" class="btn btn-outline-secondary btn-sm float-right mt-2">See</a>
                </div>
            </div>
        </div> -->
        <div class=" col-md-3 my-2">
            <div class="card">

                <div class="card-body">
                    <h6 class="card-title">文字寫到圖片</h6>
                    <a href="{%url 'image'%}"> <img src="{%static '20200514213938.png'%}" class="card-img"></a>

                    <a href="{%url 'image'%}" class="btn btn-outline-secondary btn-sm float-right mt-2">See</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <div class="card">

                <div class="card-body">
                    <h6 class="card-title">公文整理</h6>
                    <a href="{%url 'official'%}"> <img src="{%static 'official3.png'%}" class="card-img"></a>

                    <a href="{%url 'official'%}" class="btn btn-outline-secondary btn-sm float-right mt-2">See</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <div class="card">

                <div class="card-body">
                    <h6 class="card-title">電子報banner修改</h6>
                    <a href="{%url 'banner'%}"> <img src="{%static 'may_banner.png'%}" class="card-img"></a>

                    <a href="{%url 'banner'%}" class="btn btn-outline-secondary btn-sm float-right mt-2">See</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <div class="card">

                <div class="card-body">
                    <h6 class="card-title">COVID-19資料視覺化</h6>
                    <a href="{%url 'covid'%}"> <img src="{%static 'Asia.png'%}" class="card-img"></a>

                    <a href="{%url 'covid'%}" class="btn btn-outline-secondary btn-sm float-right mt-2">See</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row ">
        <h3>photoshop</h3>
    </div>
    <div class="row ">

        <div class=" col-md-3 my-2">
            <div class="card">

                <div class="card-body">
                    <h6 class="card-title">文宣</h6>
                    <img src="{%static 'soldering iron.png'%}" class="card-img">

                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}