<!-- post2db.html (HTML_Form02) -->
{% extends "base.html" %}
{% block body_title %}
<h1>我有話要說</h1>
{% endblock %}
{% block content %}
<div class='container'>
    {% if message %}
    <div>{{ message }}</div>
    {% endif %}

    <form name='my form' action='.' method='POST'>
        {% csrf_token %}
        <table>
            {{ post_form.as_table }}
        </table>
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <div class="g-recaptcha" data-sitekey="6LdzBtYUAAAAABQBQWZSTatJ1tgjUe0pDO-trTnu"></div>
        <input type='submit' value='張貼'>
        <input type='reset' value='清除重填'>
    </form>

    {% for pmes in pmess %}
    <img src="{%url 'index'%}image/{{pmes.img}}" alt=""><br>
    {{pmes.text}}
    <p>-----------------------------</p>

    {% endfor %}
</div>
{% endblock %}