{% extends 'base.html' %}
{% block banner_content%}
與研究人員相比，或許更想成為工程師
{% endblock %}



{% block body_title %}
<h1>learning history</h1>
{% endblock %}

{% block content %}

<body data-spy="scroll" data-target="#myScrollspy" data-offset="1">

    <div class="container">
        <div class="row">
            <nav class="col-3 col-md-2" id="myScrollspy">
                <ul class="nav nav-pills flex-column sticky-top">
                    <li class="nav-item pill-1">
                        <a class="nav-link active px-0 font-italic text-center" href="#section1">畢業~2018</a>
                    </li>
                    <li class="nav-item pill-1">
                        <a class="nav-link px-0 font-italic text-center" href="#section2">2019~現在</a>
                    </li>
                    <li class="nav-item pill-1">
                        <a class="nav-link px-0 font-italic text-center" href="#section3">未來期許</a>
                    </li>

                </ul>
            </nav>
            <div class="col-9 col-md-10 px-0 mb-2">
                <div id="section1" class="pl-5 pr-1">
                    <h4>畢業~2018</h4>
                    <div class="em py-4">
                        <em class="pl-1">累積職場經驗，學習影像處理軟體、程式啟蒙</em>
                    </div><br>
                    <p>大學畢業後，我認為先進入職場有助於了解自己需要或缺少的技能。我做為公司的業務與行銷人員，負責設計網站與展覽之宣傳圖片。我利用假日學習Photoshop與Illustrator等影像處理軟體，以求更符合公司與自我要求的設計。<br>同時也作為與官網維護廠商溝通的橋樑，傳達公司對網頁的修改想法。主管也很栽培我，讓我參加維護廠商舉辦的後台維護課程。經由廠商課程的學習與幾次的嘗試，我開始試著自己從管理後台修改網頁前端的語法，我認為這是之後想學習程式語言的契機之一。
                    </p>
                </div>
                <figure class=" pl-5 figure d-flex justify-content-around">
                    <img src="https://www.adobe.com/content/dam/cc/icons/photoshop-mobile.svg" alt=""
                        style="max-width:100%">
                    <img src="https://www.adobe.com/content/dam/cc/icons/illustrator.svg" alt="" style="max-width:100%">
                </figure>
                <br>
                <div id="section2" class="pl-5 pr-1">
                    <h4>2019~現在</h4>
                    <div class="em py-4">
                        <em class="pl-1">"我覺得你應該可以寫程式"</em>
                    </div><br>
                    <p>某天突然想起作為程式人員的親戚曾說過的話，是真正讓我學習程式的原因。基於它語法簡單、應用廣泛，我選擇時下流行的python為入門。<br>
                        一開始，光是適應它的語法就費了不少苦心，連練習題都需要花好幾個晚上才能寫出很爛的解法，但想了很久終於寫出的當下真的充滿成就感。現在，不僅一些重複的工作已經可以用程式完成，也可以針對自己一時興起的想法寫些小東西。
                    </p>
                </div>
                <figure class="pl-5 figure d-flex justify-content-center ">
                    <img src="https://www.python.org/static/img/python-logo@2x.png" alt="" style="max-width: 100%">
                </figure>
                <div id="section3" class="pl-5 pr-1 ">
                    <h4>未來期許</h4>
                    <div class="em py-4">
                        <em class="pl-1">希望也能成為那麼厲害的人</em>
                    </div><br>
                    <p>每每在網路上看到各行高手的作品都不禁感嘆，沒有工程師做不到的事了吧，不論是最近與肺炎相關的全球疫情圖表、查詢口罩應用，或是近年一直很熱門的人工智慧、機器學習，又或者是有點小聰明的遊戲外掛、拆包。
                        這種想法是以前的自己所沒有的，希望未來可以更熟悉使用過的套件以及持續嘗試更多應用，更接近那些高手們。
                    </p>
                </div>
            </div>
        </div>
    </div>

</body>


{% endblock %}