<nav class="col-3 col-md-2" id="myScrollspy">
    <ul class="nav nav-pills flex-column sticky-top">
        <li>python

            <!-- <li class="nav-item pill-1">
            <a class="nav-link px-0 font-italic text-center" href="{%url 'crawler'%}">簡單網路爬蟲</a>
        </li> -->
        <li class="nav-item pill-1">
            <a class="nav-link px-0 font-italic text-center" href="{%url 'image'%}">文字寫到圖片</a>
        </li>
        <li class="nav-item pill-1">
            <a class="nav-link px-0 font-italic text-center" href="{%url 'official'%}">公文整理</a>
        </li>
        <li class="nav-item pill-1">
            <a class="nav-link px-0 font-italic text-center" href="{%url 'banner'%}">電子報banner修改</a>
        </li>
        <li class="nav-item pill-1">
            <a class="nav-link px-0 font-italic text-center" href="{%url 'covid'%}">COVID-19資料視覺化</a>
        </li>
        <li class="nav-item pill-1">
            <a class="nav-link px-0 font-italic text-center" href="{%url 'unsubscribe'%}">selenium取消訂閱</a>
        </li>
        </li>
    </ul>
</nav>