<nav class="col-3 col-md-2" id="myScrollspy">
    <ul class="nav nav-pills flex-column sticky-top">
        <li class="nav-item pill-1">
            <a class="nav-link active px-0 font-italic text-center" href="#section1">畢業~2018</a>
        </li>
        <li class="nav-item pill-1">
            <a class="nav-link px-0 font-italic text-center" href="#section2">2019~現在</a>
        </li>
        <li class="nav-item pill-1">
            <a class="nav-link px-0 font-italic text-center" href="#section3">未來期許</a>
        </li>

    </ul>
</nav>